* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    min-height: 100%;
    margin: 0;
    overflow-x: hidden;
}

body {
    font-family: agahnsangsoo2012, sans-serif;
    font-weight: 300;
    font-style: normal;
    overflow-y: auto;
}

html {
    background: repeating-linear-gradient( 90deg, transparent, transparent 15px, rgba(255, 255, 255, 0.1) 15px, rgba(255, 255, 255, 0.1) 30px);
    background-color: #78B37B;
}

.container {
    display: block;
    width: 100%;
    min-height: auto;
    padding: 2rem;
    text-align: center;
}

h1 {
    font-size: 2.5rem;
    color: tomato;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    color: rgb(231, 240, 194);
    margin-top: 1rem;
}

.setlist {
    margin-bottom: 2rem;
    color: rgb(223, 233, 188);
}

.song {
    margin-bottom: 1rem;
    color: black;
}

.team {
    margin-top: 1rem;
}

.team,
.start {
    margin-top: 0rem;
}

.back {
    position: fixed;
    top: 1vh;
    left: 1vh;
    width: 18vw;
    height: auto;
}